DSTACK_SIMULATOR_ENDPOINT=/tmp/tappd.sock
PORT=3020

RPC=wss://westend-asset-hub-rpc.polkadot.io
CONTRACT_ADDRESS=0x21A41F8e279Cb3299fcf36068118C60eF63c332C
ATTESTOR_PK=<your private key>

INDEXER_URL=https://query2.substrate.fi/squid-guess/graphql