DSTACK_SIMULATOR_ENDPOINT=/tmp/tappd.sock

# a sample contract is deployed on Shibuya
INK_V5_CLIENT_RPC=wss://rpc.shibuya.astar.network
INK_V5_CLIENT_ADDRESS=W6jGgZUAiryufdJRX33GdDTeX28pt7dZxawwbCUfFwbc2cH
# a sample contract is deployed on paseo
INK_V6_CLIENT_RPC=wss://rpc1.paseo.popnetwork.xyz
INK_V6_CLIENT_ADDRESS=0x96213b72A4CF50402D9dFe71919350451B8dC356
# private key for //Bob (Bob is granted as attestor)
# Bob's address : ajYMsCKsEAhEvHpeA4XqsfiA9v1CdzZPrCfS6pEfeGHW9j8
ATTESTOR_PK=398f0c28f98885e046333d4a41c19cee4c37368a9832c6502f6cfd182e2aef89
# private key for //Alice (Alice is not granted as attestor but will be used to pay the fee)
# Alice's address : ZAP5o2BjWAo5uoKDE6b6Xkk4Ju7k6bDu24LNjgZbfM3iyiR
# ecdsa Bob's address : ZfhWGvcjvZnX1jvDxsps4xyzktLbSpMh5dk9cDGjCZ3KRoz (ecdsa Bob address is granted as attestor)
#SENDER_PK=e5be9a5092b81bca64be81d212e7f2f9eba183bb7a90954f7b76361f6edb5c0a